<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/graduate-colorized.svg">

    <script src="/js/script.js"></script>
    <script src="/js/home.js"></script>

</head>
<body>

{{ template "header.html" . }}

<main class="main-content container">
    <section class="hero">
        <img src="/img/skateboarding.svg" alt="Img gopher no skate (imagem principal da página)">
        <h1>Encontre seu próximo destino</h1>
        <p>Planeje a viagem dos seus sonhos</p>
    </section>

    <section class="search-section">
        <div class="search-form" id="searchForm">
            <!-- Campo 1: Destino -->
            <div class="input-group">
                <label for="destino" class="input-describer">Destino planejado</label>
                <input name="destino" id="destino" type="text" placeholder="Escreva para onde você vai!" required>
            </div>

            <!-- Campo 2: Datas -->
            <div class="input-group dates-group">
                <label class="input-describer">Selecionar datas</label>
                <p class="input-describer"><p>
                <div class="date-inputs">
                    <input type="date" id="checkin" required title="Data de Check-in" placeholder="">
                    <span> — </span>
                    <input type="date" id="checkout" required title="Data de Check-out">
                </div>
            </div>
            <div class="input-group guests-group" id="guestsContainer">
                <label class="input-describer">Selecionar hóspedes</label>
                <div class="guests-display" id="guestsToggle">
                    <span id="adultCountDisplay">2</span> <span id="adultWord">adultos</span> · <span id="childCountDisplay">0</span> <span id="childWord">crianças</span>
                </div>

                <div class="guests-popup" id="guestsPopup">
                    <div class="guest-row">
                        <span>Adultos</span>
                        <div class="counter">
                            <button type="button" class="btn-counter" onclick="updateGuest('adult', -1)">−</button>
                            <span id="adultVal">2</span>
                            <button type="button" class="btn-counter" onclick="updateGuest('adult', 1)">+</button>
                        </div>
                    </div>
                    <div class="guest-row">
                        <span>Crianças</span>
                        <div class="counter">
                            <button type="button" class="btn-counter" onclick="updateGuest('child', -1)">−</button>
                            <span id="childVal">0</span>
                            <button type="button" class="btn-counter" onclick="updateGuest('child', 1)">+</button>
                        </div>
                    </div>
                    <div class="extras">
                        <label class="checkbox-label">
                            <input type="checkbox" id="pets">
                            Vou levar pets
                        </label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-search">Pesquisar</button>
        </div>
    </section>
    <section class="properties-section">
        <h2>Veja propriedades em destaque!</h2>
        <div class="property-list" id="lista-propriedades-destaque"></div>
    </section>
</main>

{{ template "footer.html" . }}