<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/owner-panel.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="icon" href="/img/graduate-colorized.svg">

  <script src="/js/script.js"></script>
  <script src="/js/home.js"></script>

</head>
<body>

{{ template "header.html" . }}

<main class="main-content container">

</main>

{{ template "footer.html" . }}